<div class="w-screen h-screen bg-gray-800 flex items-center justify-center">
  <p *ngIf="isLoading" class="text-2xl text-slate-100">Loading...</p>
  <div
    *ngIf="!isLoading"
    class="flex flex-col justify-center items-center mx-auto max-w-md text-gray-100 bg-slate-900 duration-[0.3s] rounded-lg p-8 shadow-xl hover:scale-125 ease-in-out hover:shadow-2xl"
  >
    <h1 class="text-pretty text-2xl">Weather Today</h1>
    <figure>
      <img src="{{ iconUrl }}" alt="Weather Image" class="mx-auto" />
    </figure>
    <div class="text-sm text-center space-y-4">
      <h2>{{ location }}</h2>
      <div class="space-y-1">
        <div class="flex flex-row gap-8 text-lg">
          <p>{{ day }}</p>
          <span>Temp {{ temperature }}°C</span>
        </div>
        <p>Feels like {{ feels }}°C</p>
        <p>Pressure: {{ pressure }} hPa</p>
        <p>{{ humidity }}% Humidity</p>
      </div>
    </div>
  </div>
</div>
